{{#each posts}}
  {{#if this.type}}
    <div class="card card-outline-danger mb-3">
      <div class="card-block">
        <div class="d-flex flex-row justify-content-between">
          <h4 class="card-title">Tribute to: {{this.tribute_name}}</h4>
          <small class="text-muted">Posted {{this.time}}</small>
        </div>
        <h6 class="card-subtitle mb-2 text-muted"><span class="mr-1">by: </span> <a class="post-tribute text-muted" href="/user/{{this.User.username}}">{{this.User.name}}</a></h6>
        <img class="post-image" src="/api/img/post/{{this.id}}" alt="tribute-image">
        <p class="card-text mt-2">{{this.body}}</p>
      </div>
      <div class="card-footer text-muted">
        <div class="d-flex justify-content-between">
          <a data-toggle="collapse" data-target="#post-{{this.User.username}}-{{this.id}}" aria-expanded="false"
             aria-controls="post-{{this.User.username}}-{{this.id}}">
            Comment <i class="fa fa-comment-o"></i>
          </a>
          <a data-toggle="collapse" data-target="#post-{{this.User.username}}-{{this.id}}" aria-expanded="false"
             aria-controls="post-{{this.User.username}}-{{this.id}}">
            View Comments
          </a>
        </div>
      </div>
      <div class="card-footer text-muted p-0 border-top-0">
        <div class="collapse" id="post-{{this.User.username}}-{{this.id}}">
          <div class="comments">
            <ul class="list-unstyled post-footer-nav" id="all-comments-{{this.id}}">
              {{#each this.Comments}}
                <li class="media">
                  <div class="d-flex mr-3 ">
                    <img class="comment-avatar rounded-circle" src="/api/img/{{this.User.id}}" alt="user-avatar">
                  </div>
                  <div class="media-body">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{this.User.username}}</h5>
                      <small>{{this.time}}</small>
                    </div>
                    <p class="mb-1">{{this.text}}</p>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          {{> comment}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="card card-outline-primary mb-3">
      <div class="card-block">
        <div class="d-flex flex-row justify-content-between">
          <h4 class="card-title">Advice by: <a href="/user/{{this.User.username}}" class="post-advice">{{this.User.name}}</a></h4>
          <small class="text-muted">Posted {{this.time}}</small>
        </div>
        <p class="card-text mt-2 text-left">{{this.body}}</p>
      </div>
      <div class="card-footer text-muted">
        <div class="d-flex justify-content-between">
          <a data-toggle="collapse" data-target="#post-{{this.User.username}}-{{this.id}}" aria-expanded="false"
             aria-controls="post-{{this.User.username}}-{{this.id}}">
            Comment <i class="fa fa-comment-o"></i>
          </a>
          <a data-toggle="collapse" data-target="#post-{{this.User.username}}-{{this.id}}" aria-expanded="false"
             aria-controls="post-{{this.User.username}}-{{this.id}}">
            View Comments
          </a>
        </div>
      </div>
      <div class="card-footer text-muted p-0 border-top-0">
        <div class="collapse" id="post-{{this.User.username}}-{{this.id}}">
          <div class="comments">
            <ul class="list-unstyled post-footer-nav" id="all-comments-{{this.id}}">
              {{#each this.Comments}}
                <li class="media">
                  <div class="d-flex mr-3 ">
                    <img class="comment-avatar rounded-circle" src="/api/img/{{this.User.id}}" alt="user-avatar">
                  </div>
                  <div class="media-body">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{this.User.username}}</h5>
                      <small>{{this.time}}</small>
                    </div>
                    <p class="mb-1">{{this.text}}</p>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          {{> comment}}
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}